<style>
/* Стиль для блока формы авторизации */
.form_auth_block {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form_auth_block_content {
    padding: 20px;
}

.form_auth_block_head_text {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.form_auth_style {
    display: flex;
    flex-direction: column;
}

.form_auth_style label {
    margin-bottom: 5px;
}

.form_auth_style input {
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
}

.form_auth_style input:focus {
    outline: none;
    border-color: #1c87c9;
}

.form_auth_button {
    height: 40px;
    margin-top: 20px;
    background-color: #1c87c9;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.form_auth_button:hover {
    background-color: #1a7ab8;
}

a {
    margin-top: 20;
    text-align: center;
}
</style>


<div class="form_auth_block">
        <div class="form_auth_block_content">
            <p class="form_auth_block_head_text">Авторизация</p>
            <form class="form_auth_style" action="{% url 'login' %}" method="post">
            {% csrf_token %}
                <label for="username">Введите Ваш логин</label>
                <input type="username" id="username" name="username" placeholder="Введите Ваш логин" required >
                <label for="password">Введите Ваш пароль</label>
                <input type="password" id="password" name="password" placeholder="Введите пароль" required >
                <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>
                <a href="register/">Регистрация</a>
            </form>
        </div>
</div>