<!DOCTYPE html>
{% load static %}

<meta http-equiv="Cache-Control" content="no-cache" />

<link rel="stylesheet" href="{% static 'hm.css' %}?v=2">

<html>
    <head>
        <title>Реестр IT-проектов студентов</title>

    </head>
    <body>
        <header>
            <nav class="menu">
                <ul>
                    <!--<li><a onclick="href='admin/';"> Реестр</a></li>-->
                    <li><a onclick="href='projects/';"> Реестр</a></li>
                </ul>
            </nav>

        <div class="hero">

            <h1>Реестр IT-проектов студентов</h1>

        </div>

        </header>

<!--        <nav>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="mycart/">Корзина</a></li>
                </ul>

            </nav>-->
        <form method="POST" action="/save_project">
            {% csrf_token %}
            <label for="fio">ФИО:</label><br>
            <input type="text" id="fio" name="fio" required><br><br>

            <label for="course">Курс:</label><br>
            <input type="text" id="course" name="course" required><br><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="phone">Телефон:</label><br>
            <input type="text" id="phone" name="phone" required><br><br>

            <label for="passport">Паспорт:</label><br>
            <input type="text" id="passport" name="passport" required><br><br>

            <label for="project_name">Название проекта:</label><br>
            <input type="text" id="project_name" name="project_name" required><br><br>

            <input type="submit" value="Сохранить">
        </form>

    </body>
</html>
