<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1, nav.menu {
    text-align: center;
    padding: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.project-item {
    position: relative;
    padding-left: 30px;
}

.project-item:before {
    content: '•';
    position: absolute;
    left: 15px;
    color: #007BFF;
    font-size: 20;
<!--    padding-left: 15px;-->
}

a {
    color: #007BFF;
    text-decoration: none;
    font-size: 20;
}

a:hover, nav.menu a:hover {
    color: #0056b3;
}

nav.menu ul {
    margin: 0;
}

nav.menu li {
    display: inline-block;
}

nav.menu a {
    display: block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
}
</style>

<h1>Список проектов</h1>
<ul>
{% for project in projects %}
  <li class="project-item"><a href='/projects/<int:pk>/'>{{ project.project_name }}</a></li>

{% endfor %}
</ul>
<nav class="menu">
  <ul><li><a href='/'>Назад к форме</a></li></ul>
</nav>
