<style>
/* Стиль для заголовка h1 */
h1 {
    /* Цвет текста */
    color: #333;
    /* Отступы внутри */
    padding: 10px;
}

/* Стиль для таблицы */
table {
    /* Ширина 100% */
    width: 100%;
    /* Граница между ячейками */
    border-collapse: collapse;
}

/* Стиль для ячеек таблицы */
td, th {
    /* Граница серого цвета */
    border: 1px solid #ccc;
    /* Отступы внутри */
    padding: 10px;
}

/* Стиль для заголовочных ячеек таблицы */
th {
    /* Жирный шрифт */
    font-weight: bold;
    /* Цвет фона */
    background-color: #4CAF50;
    /* Цвет текста */
    color: white;
}

/* Стиль для ссылок в таблице */
td a {
    /* Цвет текста */
    color: #333;
    /* Без подчеркивания */
    text-decoration: none;
}

/* Стиль для ссылок в таблице при наведении курсора */
td a:hover {
    /* Подчеркивание */
    text-decoration: underline;
}

/* Стиль для навигационного меню под таблицей */
.menu {
    /* Отступ сверху */
    margin-top: 20px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10;
}

.menu ul li a:hover {
    background-color: #3c8c3f;
}

</style>
{% extends 'base.html' %}

{% block content %}
<h1>Список проектов</h1>
<table>
  <tr>
    <th>Название проекта</th>
    <th>ФИО</th>
    <th>Курс</th>
    <th>Эл. адрес</th>
    <th>Номер телефона</th>
    <th>Паспортные данные</th>
  </tr>
  {% for project in projects %}
  <tr>
    <td><a href='/projects/{{ project.id }}/'><strong>{{ project.project_name }}</strong></a></td>
    <td>{{ project.fio }}</td>
    <td>{{ project.course }}</td>
    <td>{{ project.email }}</td>
    <td>{{ project.phone }}</td>
    <td>{{ project.passport }}</td>
  </tr>
  {% endfor %}
</table>
<nav class="menu">
  <ul><li><a href='/'>Назад к форме</a></li></ul>
</nav>
{% endblock %}
