/* Стиль для формы */
form {
    margin: 0 auto;
    width: 50%;
}

/* Стиль для меток */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Стиль для полей ввода */
input[type=text], input[type=email] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Стиль для кнопки отправки */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #3c8c3f;
}